.game-field {
    border: 5px solid #ccc;
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    width: 100vh;
    height: 100vh;
}

.white-block{
    background: #eee;
}
.black-block{
    background: #000;
}
