.game-field {
    border: 5px solid #ccc;
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    width: 100vh;
    height: 100vh;
}

.white-block{
    background: #eee;
}

.white-block:hover{
    background: #fcf1ae;
}

.white-block:active{
    background: #f5e090;
}



.black-block{
    background: #000;
}

.checkers-size{
    width: 100%;
    padding: 12px;
}
